body {
    background-color: #000;
    color: #FFF;
    padding: 0.25em;
    font-family: monospace;
    font-size: 11pt;
}

h1 {
    text-align: center;
    color: #CCC;
    font-size: 14pt;
    padding-bottom: 0.2em;
    border-bottom: solid 1px #666;
}

h2 {
    padding-left: 1em;
    font-size: 11pt;
}

.panel-heading {
    display: none;
}

div#header-panel-frame {
    padding: 0.25em;
    background-color: #444;
    line-height: 1.8em;
}

div#menu-panel {
    float: left;
}

div#status-panel {
    text-align: right;
}

.menu-button {
    margin: 5px;
    border-radius: 8px 8px 8px 8px;
    padding: 2pt 8pt;
    cursor: pointer;
    background-color: #666670;
    color: #CCD;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.menu-button-on {
    background-color: #AAAAA0;
    color: #EEEEDD;
}

.status-button {
    margin: 5px;
    border-radius: 8px 8px 8px 8px;
    padding: 2pt 8pt;
    background-color: #665555;
    color: #CCD;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.status-button-on {
    background-color: #99BBBB;
    color: #EEFFFF;
}

#control-panel-frame {
    float: left;
    margin: 0px;
    width: 72ex;
}

#control-panel {
    padding: 0.5em;
    background-color: #224;
    color: #99A;
}

#control-panel form {
    margin: 0.5em;
}

input#time0 { width: 4em; }
input#time1 { width: 2.8em; }
input#time2 { width: 2.8em; }
input#time3 { width: 2.8em; }
input#time4 { width: 2.8em; }
input#time5 { width: 2.8em; }

#log-panel {
    padding: 0.5em;
    background-color: #242;
    color: #9A9;
}

#log-panel #log {
    padding: 0.5em;
}

#data-panel-frame {
    float: left;
}

#data-panel {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 0.5em;
}

.panel-nodisplay {
    display: none;
}

img {
    padding: 0.0em;
    font-family: monospace;
}

.status-error {
    color: #F00;
}

.status-warning {
    color: #FF0;
}

.status-safe {
    color: #0F0;
}

.type-int {
    text-align :right;
}

.type-uint {
    text-align :right;
}

.type-float {
    text-align :right;
}

div#main-tables {
    position: relative;
}

#main-tables table {
    float: left;
    margin: 8px;
}

.display-phase0 {
    position: relative;
}

.display-phase0 .image-old {
    visibility: visible;
}

.display-phase0 .image-new {
    position: absolute;
    top: 0;
    left: 0; 
    visibility: hidden;
}

.display-phase1 {
    position: relative;
}

.display-phase1 .image-old {
    position: absolute;
    top: 0;
    left: 0; 
    visibility: hidden;
}

.display-phase1 .image-new {
    visibility: visible;
}

.graph-container {
	  box-sizing: border-box;
	  width: 360px;
	  height: 240px;
}

.graph-placeholder {
	  background: #FFF;
	  width: 100%;
	  height: 100%;
}

.graph-timeorigin {
    color: #999;
    font-size: smaller;
}
